domain: loeken.xyz
clusterIssuer: letsencrypt-prod
clusterName: enso-homelab
githubUser: loeken
githubRepo: enso-homelab

# app specific
authelia:
  enabled: false
  filesystem:
    enabled: true
  ingress:
    enabled: true
  smtp:
    enabled: false
    host: mail.example.com
    port: 587
    sender: authelia@example.com
    username: authelia@example.com
  storageClassName: rook-ceph-block
  size: 100Mi
certmanager:
  enabled: false
externaldns:
  enabled: false
nginxingress:
  enabled: false
observability:
  enabled: false
  grafana:
    storageClassName: rook-ceph-block
    size: 10Gis
  prometheus:
    storageClassName: rook-ceph-block
    size: 10Gi
  alertmanager:
    storageClassName: rook-ceph-block
    size: 2Gi
  loki:
    storageClassName: rook-ceph-block
    size: 10Gi
vaultwarden:
  enabled: false
  useAuthelia: false
  ingress:
    enabled: true
  storageClassName: root-ceph-block
  size: 1Gi
  pg:
    storageClassName: root-ceph-block
    size: 1Gi
whoami:
  enabled: false
