domain: loeken.xyz
clusterIssuer: letsencrypt-prod
clusterName: enso-homelab-prod
githubUser: loeken
githubRepo: enso-homelab-prod

# app specific
certmanager:
  enabled: false
externaldns:
  enabled: false
nginxingress:
  enabled: false
observability:
  enabled: false
whoami:
  enabled: false
