domain: loeken.xyz
clusterIssuer: letsencrypt-prod
clusterName: enso-homelab
githubUser: loeken
githubRepo: enso-homelab

# app specific
authelia:
  enabled: false
  filesystem:
    enabled: true
  ingress:
    enabled: true
  smtp:
    enabled: false
    host: mail.example.com
    port: 587
    sender: authelia@example.com
    username: authelia@example.com
  storageClass: local-path
certmanager:
  enabled: false
externaldns:
  enabled: false
nfsprovisioner:
  enabled: false
nginxingress:
  enabled: false
observability:
  enabled: false
whoami:
  enabled: false
